* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  font-family: "Cormorant", serif;
}

.btn-primary {
  --bs-btn-bg: none;
  --bs-btn-border-color: black;
  --bs-btn-color: black;
}

.btn-outline-primary {
  --bs-btn-border-color: black;
  --bs-btn-color: black;
}

:root {
  --bs-body-font-size: 1.3rem;
}

header {
  background-color: white;
}

h1,
header h4 {
  font-family: "Satisfy", cursive;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #3d6d79;
}

.head-pic {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
}
