* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cormorant", serif;
  /* background-color: #ffeddb; */
  margin: none;
}

header {
  background-color: white;
}

/* .container {
  margin: none;
} */

h1,
header h4 {
  font-family: "Satisfy", cursive;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.head-pic {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
}

/* .btn-primary {
  background-color: none;
} */
