* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cormorant", serif;
}

h1,
header h4 {
  font-family: "Satisfy", cursive;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.head-pic {
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
}
