<%- include('../partials/head.ejs') %>
<div class="container">
  <div class="fs-5 text">Hi,</div>
  <p class="fs-5 text">I'm Susanna</p>
  <p class="fs-5 text">hi</p>
</div>

<%- include('../partials/footer.ejs') %>
