<%- include('../partials/head.ejs') %>

<h1>New Product</h1>

<p><a href="/logs"/><i class="bi bi-arrow-left-short"></i>Back</a></p>

<form action="/skincare" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" />

  <label for="kind">Type</label>
  <select name="kind" id="kind">
    <option value="">Please choose an option</option>
    <option value="Cleanser">Cleanser</option>
    <option value="Toner">Toner</option>
    <option value="Serum">Serum</option>
    <option value="Eye_Cream">Eye Cream</option>
    <option value="Moisturiser">Moisturiser</option>
    <option value="SPF">SPF</option>
    <option value="Generic">Generic</option>
  </select>

  <input type="submit" value="Create" />
</form>

<%- include('../partials/footer.ejs') %>
